<a href="https://colab.research.google.com/github/csj91/arduino_jin/blob/main/%EC%A3%BC%EC%8B%9D%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
현재가 = {}
현재가['삼성전자'] = 56200
현재가['LG에너지솔루션'] = 482500
현재가['SK하이닉스'] = 91200
현재가

{'삼성전자': 56200, 'LG에너지솔루션': 482500, 'SK하이닉스': 91200}

In [ ]:
list(현재가.keys())

['삼성전자', 'LG에너지솔루션', 'SK하이닉스']

In [ ]:
list(현재가.values())

[56200, 482500, 91200]

In [ ]:
'SK하이닉스' in 현재가.keys()

True

In [ ]:
네이버종가 = [ 193500, 176500, 164000, 167000, 160000]
네이버종가

[193500, 176500, 164000, 167000, 160000]

In [ ]:
최저네이버종가 = min(네이버종가)
print(최저네이버종가)
최고네이버종가 = max(네이버종가)
print(최고네이버종가)

160000
193500

In [ ]:
가격차 = 최고네이버종가 - 최저네이버종가
print(가격차)

33500

In [ ]:
네이버종가dic = {'2022/09/30': 193500, '2022/10/07': 160000, '2022/10/06':167000,'2022/10/05': 164000,'2022/10/04': 176500 }

In [ ]:
print(네이버종가dic['2022/10/07'])

160000

In [ ]:
네이버종가날짜 =list(네이버종가dic.keys())
네이버종가가격 =list(네이버종가dic.values())

In [ ]:
price = int(input("가격을 입력하세요:"))
if price < 1000:
        bid = 1
elif price >= 1000 and price < 5000:
        bid = 5
elif price >= 5000 and price < 10000:
        bid = 10
elif price >= 10000 and price < 50000:
        bid = 50
elif price >= 50000 and price < 100000:
        bid = 100
elif price >= 100000 and price < 500000:
        bid = 500
elif price >= 500000:
        bid = 1000

bid

가격을 입력하세요:5000

10

In [ ]:
for i in [0,1,2,3,4] :
  print(i)

0
1
2
3
4

In [ ]:
for i in [ 1, 10 ,100, 1000] :

 print(i)

1
10
100
1000

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
관심종목 = [ "엔씨소프트" , "삼성전자" , "NAVER" , "카카오페이" , "CS" , "아모레퍼시픽"]
for 종목 in 관심종목 :
 print("%s : 매수 10" % 종목)

엔씨소프트 : 매수 10
삼성전자 : 매수 10
NAVER : 매수 10
카카오페이 : 매수 10
CS : 매수 10
아모레퍼시픽 : 매수 10

In [ ]:
관심종목 = { "엔씨소프트" : 5 , "삼성전자" : 10 , "NAVER" : 5 , "카카오페이" : 10 , "CS" : 20  , "아모레퍼시픽" : 20}

In [ ]:
for 종목, 매수량 in 관심종목.items() : 
 print(" %s : 매수 %s " % (종목,매수량))

 엔씨소프트 : 매수 5
 삼성전자 : 매수 10
 NAVER : 매수 5
 카카오페이 : 매수 10
 CS : 매수 20
 아모레퍼시픽 : 매수 20

In [1]:
for i in range(0,11):
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
i= 0
while i <= 10 :
 print(i)
 i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [4]:
신풍제약종가 = 20050
day = 1
while day<6 :
 신풍제약종가 = 신풍제약종가+신풍제약종가*0.3
 day = day + 1
 
신풍제약종가

74444.24650000001

In [5]:
num = 0
while num <= 10 :
 if num % 2 == 1 :
  print(num)
 num += 1

1
3
5
7
9

In [7]:
num = 0
while num < 10 :
 print (num)
 if num == 5 :
  break
 num += 1

0
1
2
3
4
5

In [14]:
num = 0
while num < 10 :
 num += 1
 if num == 5 : continue
 print(num)

1
2
3
4
6
7
8
9
10

In [22]:
for i in range(0,5) :
 print('*', end='')

*****

In [27]:
for j in range(0,4) :
 for i in range(0,5) :
  print('*', end='')
 print("")

*****
*****
*****
*****

In [30]:
for j in range(5) :
 for i in range(j+1) :
  print('*', end='')
 print("")

*
**
***
****
*****

In [36]:
for j in range(5) :
 for i in range(5-j) :
  print('*', end='')
 print("")

*****
****
***
**
*

In [ ]:
for j in range(5) :
 for i in range(5-j) :
  print('*', end='')
 print("")

In [37]:
for j in range(5):
        for i in range(4-j):
                print(' ', end='')
        for i in range(j+1):
                print('*', end='')
        print("")

    *
   **
  ***
 ****
*****

In [38]:
for j in range(5):
        for i in range(j):
                print(' ', end='')
        for i in range(5-j):
                print('*', end='')
        print("")

*****
 ****
  ***
   **
    *

In [39]:
for j in range(5):
        for i in range(4-j):
                print(' ', end='')
        for i in range(2*(j+1)-1):
                print('*', end='')
        print("")

    *
   ***
  *****
 *******
*********

In [40]:
for j in range(5):
        for i in range(j):
                print(' ', end='')
        for i in range(2*(5-j)-1):
                print('*', end='')
        print("")

*********
 *******
  *****
   ***
    *

In [15]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 302, 303], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]
for i in apart:
        for j in i:
                if j in arrears:
                        continue
                else:
                        print("Newspaper delivery: ", j)

Newspaper delivery:  102
Newspaper delivery:  103
Newspaper delivery:  104
Newspaper delivery:  201
Newspaper delivery:  202
Newspaper delivery:  204
Newspaper delivery:  302
Newspaper delivery:  302
Newspaper delivery:  303
Newspaper delivery:  401
Newspaper delivery:  402
Newspaper delivery:  403

In [10]:
apart[0]

[101, 102, 103, 104]

In [32]:
for i in apart :
  for j in i :
    if j in arrears : 
       continue
    print(j)

102
103
104
201
202
204
302
302
303
401
402
403

In [37]:
관심종목 = ['삼성전자', '카카오' , 'NAVER']
for i in 관심종목 :
 print(i)

삼성전자
카카오
NAVER

In [41]:
관심종목 = [['삼성전자', '삼성SDI' , '삼성중공업' ] , ['카카오' , '카카오페이', '카카오뱅크'] , [ '현대차', '현대모비스', '현대중공업']]
for i in 관심종목 : 
  for j in i :
    print(j)

삼성전자
삼성SDI
삼성중공업
카카오
카카오페이
카카오뱅크
현대차
현대모비스
현대중공업

In [57]:
def 삼성전자_ntime(n) :
 for i in range(n):
  print('삼성전자')

삼성전자_ntime(3)

삼성전자
삼성전자
삼성전자